@import "../../../assets/scss/variables";

.a-tooltip-wrapper {
  position: fixed;
  padding: 4px 8px;
  border-radius: 4px;
  background: rgba($black, .8);
  color: $white;
  transform: translateX(-50%);

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    border: 6px solid transparent;
    border-bottom: 6px solid rgba($black, .8);
    transform: translate(-50%, -100%);
  }
}
