@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variables";

.m-tab-list {
  display: flex;
  border-bottom: 1px solid $black;

  .tab-list__item {
    flex: 1;
  }

  @include for-tablet {
    flex-direction: column;
  }
}
